<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" 
	version="4.0">
	
  <display-name>Oblig_3</display-name>
  
  <!--/WEB-INF/paameldingsskjema.jsp-->
  
  <welcome-file-list>
    <welcome-file>homepage</welcome-file>
  </welcome-file-list>
  
  <!-- <context-param>
    <param-name>loggInnTimer</param-name>
    <param-value>250</param-value>
  </context-param>  
  
  <servlet>
  
    <servlet-name>Deltager_Servlet</servlet-name>
    <servlet-class>fest_oblig4.Paamelding_Servlet</servlet-class>
    
    <init-param>
      <param-name>loggInnTimer</param-name>
      <param-value>250</param-value>
    </init-param>
    
  </servlet> -->
	
</web-app>